.App {
    text-align: center;
    color: rgb(53 162 159);
  }
  
  .App-header {
    background-color: #fff;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    font-size: calc(10px + 2vmin);
    height: 12vh;
    width: 95vw;
  }
  
  .navbar-list {
    display: flex;
    flex-direction: row;
  }
  
  
  .top-div-container {
    position: absolute;
  }
  
  .top-div {
    min-height: 40vh;
    background-color: rgb(195 237 192);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }
  
  .logo-img {
    max-width: 20%;
    position: absolute; 
    top: 30%; 
    left: 40%; 
    z-index: 1; 
  }
  
  .title-img {
    max-width: 20%;
    margin-top: 3%;
  }
  
  .ufmg-img {
    max-width: 13%;
    position: absolute;
    margin-right: 1%;
    margin-bottom: 1%;
    right: 0; 
    bottom: 0; 
    z-index: 1;
  }

  .anonymous-btn {
    position: absolute;
    left: 42.5%;
    top: 68%;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .text {
    margin-right: 60%;
    margin-left: 4%;
    bottom: 7%;
    position: absolute;
    text-align: left;
    font-size: large;
    width: 30%;
    color: black;
  }
  
  