input {
    font-size: large;
}

.global.login {
    padding: 0;
}

.container.login {
    width: 20%;
    padding: 3%;  
}

form {
    margin-top: 10%;
}

.login_desc {
    margin-left: 10%;
    margin-right: 10%;
    font-size: small;
}