.teacher-space-container {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    margin-top: 1%;
}

.new-class-form {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-left: auto;
}

.new-class-btn {
    margin-left: 2%;
    margin-top: 13%;
}

.class-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2%;
}

.class-title:hover {
    cursor: pointer;
}

.class-results {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: white;
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 3%;
}

h3 {
    margin-left: 2%;
}

.student-result-container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 1%;
}

.student-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    border-left: thick solid rgb(53 162 159);
}